/* line 1, sass/style.scss */
body {
  background-color: black;
}

/* line 5, sass/style.scss */
.wonderland-wrapper {
  width: 100%;
  font-family: 'Laila', serif;
}

/* line 11, sass/style.scss */
#wonderland-word {
  display: block;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

/* line 18, sass/style.scss */
.panel-wrapper {
  position: relative;
  width: 1000px;
  height: auto;
  margin: 0 auto 0 auto;
  border-radius: 5px;
  overflow: hidden;
  display: none;
}
/* line 28, sass/style.scss */
.panel-wrapper img {
  width: 100%;
  height: 100%;
}
/* line 33, sass/style.scss */
.panel-wrapper h2 {
  background-color: grey;
  text-align: center;
  color: white;
  margin: 0 0 0 0;
}

/* line 43, sass/style.scss */
.panel-wrapper.shown {
  display: block;
}

/* line 47, sass/style.scss */
.choice {
  position: absolute;
}

/* line 51, sass/style.scss */
.choice:hover {
  cursor: pointer;
}

/* line 56, sass/style.scss */
#rabbit-1 #rabit-1-choice-1 {
  width: 20%;
  top: 8%;
  left: 4%;
}
/* line 61, sass/style.scss */
#rabbit-1 #rabit-1-choice-1 .wrapper {
  position: relative;
}
/* line 63, sass/style.scss */
#rabbit-1 #rabit-1-choice-1 .wrapper img {
  width: 100%;
}
/* line 67, sass/style.scss */
#rabbit-1 #rabit-1-choice-1 .wrapper h3 {
  font-size: 1.5em;
  margin: 0;
  position: absolute;
  top: 25%;
  left: 22%;
}
/* line 77, sass/style.scss */
#rabbit-1 #rabit-1-choice-2 {
  width: 20%;
  top: 6%;
  left: 30%;
}
/* line 82, sass/style.scss */
#rabbit-1 #rabit-1-choice-2 .wrapper {
  position: relative;
}
/* line 84, sass/style.scss */
#rabbit-1 #rabit-1-choice-2 .wrapper img {
  width: 100%;
}
/* line 88, sass/style.scss */
#rabbit-1 #rabit-1-choice-2 .wrapper h3 {
  font-size: 1.5em;
  margin: 0;
  position: absolute;
  top: 25%;
  left: 22%;
}
/* line 98, sass/style.scss */
#rabbit-1 .sound {
  color: black;
  font-size: 3em;
  position: absolute;
  bottom: 20%;
  left: -5%;
}

/* line 107, sass/style.scss */
#rabbit-16 {
  background-image: url("../_images/rabbit/rabbit-falling.png");
  background-size: 1000px auto;
}

/* line 113, sass/style.scss */
#hallway-1 #hallway-1-choice-1 {
  height: 50%;
  width: 18%;
  left: 20%;
  top: 25%;
  cursor: url("../_images/hallway/hallway-1-choice-1.ico"), default;
}
/* line 121, sass/style.scss */
#hallway-1 #hallway-1-choice-2 {
  height: 35%;
  width: 10%;
  left: 43%;
  top: 26%;
  cursor: url("../_images/hallway/hallway-1-choice-2.ico"), default;
}
/* line 130, sass/style.scss */
#hallway-1 #hallway-1-choice-3 {
  height: 21%;
  width: 6%;
  left: 56%;
  top: 30%;
  cursor: url("../_images/hallway/hallway-1-choice-3.ico"), default;
}
/* line 138, sass/style.scss */
#hallway-1 #hallway-1-choice-4 {
  height: 60%;
  width: 5%;
  left: 58%;
  bottom: 0%;
  cursor: url("../_images/hallway/hallway-1-choice-4.ico"), default;
  transform: rotate(35deg);
}
/* line 147, sass/style.scss */
#hallway-1 #hallway-1-choice-1:hover {
  color: white;
}

/* line 153, sass/style.scss */
#hallway-4 #hallway-4-choice-1 {
  width: 20%;
  height: 15%;
  bottom: 4%;
  left: 27%;
}
/* line 160, sass/style.scss */
#hallway-4 #hallway-4-choice-2 {
  width: 10%;
  height: 30%;
  bottom: 7%;
  left: 63%;
}

/* line 169, sass/style.scss */
#morpheus-6 .choice {
  background-color: white;
  border: 1px solid black;
  padding: 1%;
}
/* line 175, sass/style.scss */
#morpheus-6 .choice:hover {
  background-color: black;
  color: white;
}
/* line 179, sass/style.scss */
#morpheus-6 #morpheus-6-choice-1 {
  top: 60%;
  left: 13%;
  width: 10%;
  height: 6%;
}
/* line 186, sass/style.scss */
#morpheus-6 #morpheus-6-choice-2 {
  top: 56%;
  right: 16%;
  width: 10%;
  height: 6%;
}

/* line 195, sass/style.scss */
#cheshire-9 .choice {
  background-color: white;
  border: 1px solid black;
  padding: 1%;
}
/* line 201, sass/style.scss */
#cheshire-9 .choice:hover {
  background-color: black;
  color: white;
}
/* line 205, sass/style.scss */
#cheshire-9 #cheshire-9-choice-1 {
  top: 20%;
  left: 0;
}
/* line 210, sass/style.scss */
#cheshire-9 #cheshire-9-choice-2 {
  top: 20%;
  right: 0;
}

/* line 220, sass/style.scss */
#queen-2 .choice:hover {
  background-color: black;
  color: white;
}
/* line 225, sass/style.scss */
#queen-2 #area-one {
  top: 11%;
  left: 0%;
  width: 20%;
  height: 80%;
}
/* line 232, sass/style.scss */
#queen-2 #area-two {
  top: 11%;
  left: 22%;
  width: 54%;
  height: 26%;
}
/* line 239, sass/style.scss */
#queen-2 #area-three {
  top: 11%;
  right: 0%;
  width: 20%;
  height: 86%;
}

/* line 248, sass/style.scss */
#queen-8 .choice {
  background-color: white;
  border: 1px solid black;
  padding: 1%;
}
/* line 254, sass/style.scss */
#queen-8 .choice:hover {
  background-color: black;
  color: white;
}
/* line 258, sass/style.scss */
#queen-8 #queen-8-choice-1 {
  top: 20%;
  left: 0;
}
/* line 263, sass/style.scss */
#queen-8 #queen-8-choice-2 {
  top: 20%;
  right: 0;
}

/* line 270, sass/style.scss */
#queen-11 .choice {
  background-color: white;
  border: 1px solid black;
  padding: 1%;
}
/* line 276, sass/style.scss */
#queen-11 .choice:hover {
  background-color: black;
  color: white;
}
/* line 280, sass/style.scss */
#queen-11 #queen-11-choice-1 {
  top: 10%;
  left: 0;
}
/* line 285, sass/style.scss */
#queen-11 #queen-11-choice-2 {
  top: 10%;
  right: 0;
}

@keyframes shaking {
  0%, 20%, 40%, 60%, 80%, 100% {
    top: 0px;
  }
  10%, 30%, 50%, 70%, 90% {
    top: 90px;
  }
}
/* line 301, sass/style.scss */
#cheshire-1 {
  animation: shaking 0.3s linear forwards;
}
