/* line 1, sass/style.scss */
body {
  background-color: black;
}

/* line 5, sass/style.scss */
.wonderland-wrapper {
  width: 100%;
  font-family: 'Laila', serif;
}

/* line 11, sass/style.scss */
#wonderland-word {
  display: block;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

/* line 18, sass/style.scss */
.panel-wrapper {
  position: relative;
  width: 1000px;
  height: 640px;
  margin: 0 auto 0 auto;
  border-radius: 5px;
  overflow: hidden;
  display: none;
}
/* line 28, sass/style.scss */
.panel-wrapper img {
  width: 100%;
  height: 100%;
}
/* line 33, sass/style.scss */
.panel-wrapper h2 {
  background-color: grey;
  text-align: center;
  color: white;
  margin: 0 0 0 0;
}

/* line 43, sass/style.scss */
.panel-wrapper:nth-child(even) {
  background-color: blue;
}

/* line 47, sass/style.scss */
.panel-wrapper:nth-child(odd) {
  background-color: yellow;
}

/* line 51, sass/style.scss */
.panel-wrapper.shown {
  display: block;
}

/* line 55, sass/style.scss */
.choice-button {
  position: absolute;
}

/* line 60, sass/style.scss */
.choice-button:hover {
  cursor: pointer;
}

/* line 65, sass/style.scss */
#rabbit-1 #rabit-1-choice-1 {
  width: 20%;
  top: 8%;
  left: 4%;
}
/* line 70, sass/style.scss */
#rabbit-1 #rabit-1-choice-1 .wrapper {
  position: relative;
}
/* line 72, sass/style.scss */
#rabbit-1 #rabit-1-choice-1 .wrapper img {
  width: 100%;
}
/* line 76, sass/style.scss */
#rabbit-1 #rabit-1-choice-1 .wrapper h3 {
  font-size: 1.5em;
  margin: 0;
  position: absolute;
  top: 25%;
  left: 22%;
}
/* line 86, sass/style.scss */
#rabbit-1 #rabit-1-choice-2 {
  width: 20%;
  top: 6%;
  left: 30%;
}
/* line 91, sass/style.scss */
#rabbit-1 #rabit-1-choice-2 .wrapper {
  position: relative;
}
/* line 93, sass/style.scss */
#rabbit-1 #rabit-1-choice-2 .wrapper img {
  width: 100%;
}
/* line 97, sass/style.scss */
#rabbit-1 #rabit-1-choice-2 .wrapper h3 {
  font-size: 1.5em;
  margin: 0;
  position: absolute;
  top: 25%;
  left: 22%;
}
/* line 107, sass/style.scss */
#rabbit-1 .sound {
  color: black;
  font-size: 3em;
  position: absolute;
  bottom: 20%;
  left: -5%;
}

/* line 117, sass/style.scss */
#hallway-1 .choice-hover {
  position: absolute;
}
/* line 121, sass/style.scss */
#hallway-1 #hallway-1-choice-1 {
  height: 50%;
  width: 18%;
  left: 20%;
  top: 25%;
  cursor: url("../_images/hallway/hallway-1-choice-1.ico"), default;
}
/* line 129, sass/style.scss */
#hallway-1 #hallway-1-choice-2 {
  height: 35%;
  width: 10%;
  left: 43%;
  top: 26%;
  cursor: url("../_images/hallway/hallway-1-choice-2.ico"), default;
}
/* line 138, sass/style.scss */
#hallway-1 #hallway-1-choice-3 {
  height: 21%;
  width: 6%;
  left: 56%;
  top: 30%;
  cursor: url("../_images/hallway/hallway-1-choice-3.ico"), default;
}
/* line 146, sass/style.scss */
#hallway-1 #hallway-1-choice-4 {
  height: 60%;
  width: 5%;
  left: 58%;
  bottom: 0%;
  cursor: url("../_images/hallway/hallway-1-choice-4.ico"), default;
  transform: rotate(35deg);
}
/* line 155, sass/style.scss */
#hallway-1 #hallway-1-choice-1:hover {
  color: white;
}
