/* line 1, sass/style.scss */
body {
  background-color: black;
  overflow: hidden;
}

/* line 6, sass/style.scss */
.wonderland-wrapper {
  width: 100%;
  font-family: 'Laila', serif;
  font-weight: 400;
}

/* line 12, sass/style.scss */
#wonderland-word {
  display: block;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

/* line 19, sass/style.scss */
.panel-wrapper {
  position: relative;
  width: 1000px;
  height: auto;
  margin: 0 auto 0 auto;
  border-radius: 5px;
  overflow: hidden;
  display: none;
}
/* line 29, sass/style.scss */
.panel-wrapper img {
  width: 100%;
  height: 100%;
}
/* line 34, sass/style.scss */
.panel-wrapper h2 {
  padding: 1.5%;
  position: absolute;
  width: 98.5%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  color: white;
  margin: 0 0 0 0;
}

/* line 49, sass/style.scss */
.panel-wrapper.shown {
  display: block;
}

/* line 53, sass/style.scss */
.choice {
  position: absolute;
}

/* line 57, sass/style.scss */
.choice:hover {
  cursor: pointer;
}

/* line 61, sass/style.scss */
.speech-bubble-wrapper {
  position: absolute;
}

/* line 66, sass/style.scss */
#rabbit-1 #rabit-1-choice-1 {
  width: 20%;
  top: 8%;
  left: 4%;
}
/* line 71, sass/style.scss */
#rabbit-1 #rabit-1-choice-1 .wrapper {
  position: relative;
}
/* line 73, sass/style.scss */
#rabbit-1 #rabit-1-choice-1 .wrapper img {
  width: 100%;
}
/* line 77, sass/style.scss */
#rabbit-1 #rabit-1-choice-1 .wrapper h3 {
  font-size: 1.5em;
  margin: 0;
  position: absolute;
  top: 25%;
  left: 22%;
}
/* line 87, sass/style.scss */
#rabbit-1 #rabit-1-choice-2 {
  width: 20%;
  top: 6%;
  left: 30%;
}
/* line 92, sass/style.scss */
#rabbit-1 #rabit-1-choice-2 .wrapper {
  position: relative;
}
/* line 94, sass/style.scss */
#rabbit-1 #rabit-1-choice-2 .wrapper img {
  width: 100%;
}
/* line 98, sass/style.scss */
#rabbit-1 #rabit-1-choice-2 .wrapper h3 {
  font-size: 1.5em;
  margin: 0;
  position: absolute;
  top: 25%;
  left: 22%;
}
/* line 108, sass/style.scss */
#rabbit-1 .sound {
  color: black;
  font-size: 3em;
  position: absolute;
  bottom: 20%;
  left: -5%;
}

/* line 117, sass/style.scss */
#rabbit-2-speech-1 {
  bottom: 59%;
  left: 56%;
}
/* line 121, sass/style.scss */
#rabbit-2-speech-1 h3 {
  position: absolute;
  top: 3%;
  left: 18%;
  font-size: 2.3em;
  text-align: center;
}
/* line 129, sass/style.scss */
#rabbit-2-speech-1 img {
  width: 70%;
  height: auto;
}

/* line 135, sass/style.scss */
#rabbit-3-speech-1 {
  bottom: 10%;
  left: 34%;
}
/* line 139, sass/style.scss */
#rabbit-3-speech-1 h3 {
  position: absolute;
  top: 9%;
  left: 18%;
  font-size: 2.9em;
  text-align: center;
}
/* line 147, sass/style.scss */
#rabbit-3-speech-1 img {
  width: 90%;
  height: auto;
}

/* line 153, sass/style.scss */
#rabbit-4-speech-1 {
  bottom: 57%;
  left: 3%;
}
/* line 157, sass/style.scss */
#rabbit-4-speech-1 h3 {
  position: absolute;
  top: 1%;
  left: 9%;
  font-size: 2.4em;
  text-align: center;
}
/* line 165, sass/style.scss */
#rabbit-4-speech-1 img {
  width: 90%;
  height: auto;
}

/* line 171, sass/style.scss */
#rabbit-5-speech-1 {
  bottom: 64%;
  left: 12%;
}
/* line 175, sass/style.scss */
#rabbit-5-speech-1 h3 {
  position: absolute;
  top: 1%;
  left: 19%;
  font-size: 2.3em;
  text-align: center;
}
/* line 183, sass/style.scss */
#rabbit-5-speech-1 img {
  width: 100%;
  height: auto;
}

/* line 189, sass/style.scss */
#rabbit-7-speech-1 {
  bottom: 31%;
  left: 32%;
}
/* line 193, sass/style.scss */
#rabbit-7-speech-1 h3 {
  position: absolute;
  top: 1%;
  left: 14%;
  font-size: 4.5em;
  text-align: center;
}
/* line 201, sass/style.scss */
#rabbit-7-speech-1 img {
  width: 100%;
  height: auto;
}

/* line 207, sass/style.scss */
#rabbit-16 {
  background-image: url("../_images/rabbit/rabbit-falling.png");
  background-size: calc((100vh - 100px) / 0.68) auto;
}

/* line 212, sass/style.scss */
#hallway-5-speech-1 {
  bottom: 33%;
  left: 43%;
}
/* line 216, sass/style.scss */
#hallway-5-speech-1 h3 {
  position: absolute;
  top: 1%;
  left: 14%;
  font-size: 2.5em;
  text-align: center;
}
/* line 224, sass/style.scss */
#hallway-5-speech-1 img {
  width: 80%;
  height: auto;
}

/* line 230, sass/style.scss */
#hallway-6-speech-1 {
  bottom: 33%;
  left: 41%;
}
/* line 234, sass/style.scss */
#hallway-6-speech-1 h3 {
  position: absolute;
  top: 12%;
  left: 1%;
  font-size: 2.5em;
  text-align: center;
}
/* line 242, sass/style.scss */
#hallway-6-speech-1 img {
  width: 100%;
  height: auto;
}

/* line 248, sass/style.scss */
#hallway-7-speech-1 {
  bottom: 43%;
  left: 32%;
}
/* line 252, sass/style.scss */
#hallway-7-speech-1 h3 {
  position: absolute;
  top: 5%;
  left: 16%;
  font-size: 2.2em;
  text-align: center;
}
/* line 260, sass/style.scss */
#hallway-7-speech-1 img {
  width: 100%;
  height: auto;
}

/* line 267, sass/style.scss */
#party-1 .speech-bubble-wrapper {
  display: none;
}
/* line 271, sass/style.scss */
#party-1 h2.shown {
  display: inline;
}
/* line 275, sass/style.scss */
#party-1 .speech-bubble-wrapper.shown {
  display: inline;
}

/* line 280, sass/style.scss */
#party-1-speech-1 {
  bottom: 58%;
  left: 48%;
}
/* line 284, sass/style.scss */
#party-1-speech-1 h3 {
  position: absolute;
  top: 12%;
  left: 10%;
  font-size: 2.5em;
  text-align: center;
}
/* line 292, sass/style.scss */
#party-1-speech-1 img {
  width: 100%;
  height: auto;
}

/* line 298, sass/style.scss */
#party-1-speech-2 {
  bottom: 20%;
  left: 47%;
}
/* line 302, sass/style.scss */
#party-1-speech-2 h3 {
  position: absolute;
  top: 6%;
  left: 17%;
  font-size: 2.3em;
  text-align: center;
}
/* line 310, sass/style.scss */
#party-1-speech-2 img {
  width: 100%;
  height: auto;
}

/* line 316, sass/style.scss */
#party-2-speech-1 {
  bottom: 27%;
  left: 42%;
}
/* line 320, sass/style.scss */
#party-2-speech-1 h3 {
  position: absolute;
  top: 0%;
  left: 10%;
  font-size: 2.7em;
  text-align: center;
}
/* line 328, sass/style.scss */
#party-2-speech-1 img {
  width: 100%;
  height: auto;
}

/* line 334, sass/style.scss */
#party-3-speech-1 {
  bottom: 12%;
  left: 16%;
}
/* line 338, sass/style.scss */
#party-3-speech-1 h3 {
  position: absolute;
  top: 10%;
  left: 4%;
  font-size: 2em;
  text-align: center;
}
/* line 346, sass/style.scss */
#party-3-speech-1 img {
  width: 100%;
  height: auto;
}

/* line 353, sass/style.scss */
#party-5 .speech-bubble-wrapper {
  display: none;
}
/* line 357, sass/style.scss */
#party-5 .speech-bubble-wrapper.shown {
  display: inline;
}

/* line 362, sass/style.scss */
#party-5-speech-1 {
  bottom: 51%;
  left: 18%;
}
/* line 366, sass/style.scss */
#party-5-speech-1 h3 {
  position: absolute;
  top: 0%;
  left: 10%;
  font-size: 2.7em;
  text-align: center;
}
/* line 374, sass/style.scss */
#party-5-speech-1 img {
  width: 75%;
  height: auto;
}

/* line 380, sass/style.scss */
#party-5-speech-2 {
  bottom: 32%;
  left: 55%;
}
/* line 384, sass/style.scss */
#party-5-speech-2 h3 {
  position: absolute;
  top: 0%;
  left: 6%;
  font-size: 2.3em;
  text-align: center;
}
/* line 392, sass/style.scss */
#party-5-speech-2 img {
  width: 100%;
  height: auto;
}

/* line 398, sass/style.scss */
#party-6-speech-1 {
  bottom: 11%;
  left: 8%;
}
/* line 402, sass/style.scss */
#party-6-speech-1 h3 {
  position: absolute;
  top: 10%;
  left: 4%;
  font-size: 2.2em;
  text-align: center;
}
/* line 410, sass/style.scss */
#party-6-speech-1 img {
  width: 100%;
  height: auto;
}

/* line 416, sass/style.scss */
#party-7-speech-1 {
  bottom: 2%;
  left: 26%;
}
/* line 420, sass/style.scss */
#party-7-speech-1 h3 {
  position: absolute;
  top: 19%;
  left: 4%;
  font-size: 2.1em;
  text-align: center;
}
/* line 428, sass/style.scss */
#party-7-speech-1 img {
  width: 100%;
  height: auto;
}

/* line 434, sass/style.scss */
#party-8-speech-1 {
  bottom: 68%;
  left: 0%;
}
/* line 438, sass/style.scss */
#party-8-speech-1 h3 {
  position: absolute;
  top: 2%;
  left: 4%;
  font-size: 2.3em;
  text-align: center;
}
/* line 446, sass/style.scss */
#party-8-speech-1 img {
  width: 100%;
  height: auto;
}

/* line 453, sass/style.scss */
#party-9 .speech-bubble-wrapper {
  display: none;
}
/* line 457, sass/style.scss */
#party-9 .speech-bubble-wrapper.shown {
  display: inline;
}

/* line 462, sass/style.scss */
#party-9-speech-1 {
  bottom: 23%;
  left: 18%;
}
/* line 466, sass/style.scss */
#party-9-speech-1 h3 {
  position: absolute;
  top: 15%;
  left: 4%;
  font-size: 2.2em;
  text-align: center;
}
/* line 474, sass/style.scss */
#party-9-speech-1 img {
  width: 75%;
  height: auto;
}

/* line 480, sass/style.scss */
#party-9-speech-2 {
  bottom: 13%;
  left: 55%;
}
/* line 484, sass/style.scss */
#party-9-speech-2 h3 {
  position: absolute;
  top: 14%;
  left: 6%;
  font-size: 3.5em;
  text-align: center;
}
/* line 492, sass/style.scss */
#party-9-speech-2 img {
  width: 100%;
  height: auto;
}

/* line 498, sass/style.scss */
#party-11-speech-1 {
  bottom: 27%;
  left: 8%;
}
/* line 502, sass/style.scss */
#party-11-speech-1 h3 {
  position: absolute;
  top: -6%;
  left: 1%;
  font-size: 2em;
  text-align: center;
}
/* line 510, sass/style.scss */
#party-11-speech-1 img {
  width: 100%;
  height: auto;
}

/* line 516, sass/style.scss */
#party-13-speech-1 {
  bottom: 57%;
  left: 22%;
}
/* line 520, sass/style.scss */
#party-13-speech-1 h3 {
  position: absolute;
  top: 8%;
  left: 5%;
  font-size: 2.8em;
  text-align: center;
}
/* line 528, sass/style.scss */
#party-13-speech-1 img {
  width: 100%;
  height: auto;
}

@keyframes hallway-1-choice-1-arrow-anim {
  from {
    top: 40%;
    left: 46%;
    width: 25%;
  }
  to {
    top: 30%;
    left: 57%;
    width: 17%;
  }
}
@keyframes hallway-1-choice-2-arrow-anim {
  from {
    top: 42%;
    left: 35%;
  }
  to {
    top: 46%;
    left: 38%;
  }
}
@keyframes hallway-1-choice-3-arrow-anim {
  from {
    top: 35%;
    left: 49%;
  }
  to {
    top: 38%;
    left: 52%;
  }
}
@keyframes hallway-1-choice-5-arrow-anim {
  from {
    top: 49%;
    left: 63%;
  }
  to {
    top: 49%;
    left: 59%;
  }
}
/* line 580, sass/style.scss */
#hallway-1 .hallway-arrow.shown {
  display: block;
}
/* line 584, sass/style.scss */
#hallway-1 .hallway-arrow {
  pointer-events: none;
  display: none;
}
/* line 589, sass/style.scss */
#hallway-1 #hallway-1-choice-1-arrow {
  position: absolute;
  top: 22%;
  left: 46%;
  width: 25%;
  height: auto;
  animation-name: hallway-1-choice-1-arrow-anim;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
/* line 601, sass/style.scss */
#hallway-1 #hallway-1-choice-2-arrow {
  position: absolute;
  top: 42%;
  left: 37%;
  width: 16%;
  height: auto;
  animation-name: hallway-1-choice-2-arrow-anim;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
/* line 613, sass/style.scss */
#hallway-1 #hallway-1-choice-3-arrow {
  position: absolute;
  top: 35%;
  left: 49%;
  width: 10%;
  height: auto;
  animation-name: hallway-1-choice-3-arrow-anim;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
/* line 625, sass/style.scss */
#hallway-1 #hallway-1-choice-5-arrow {
  position: absolute;
  top: 49%;
  left: 63%;
  width: 22%;
  height: auto;
  animation-name: hallway-1-choice-5-arrow-anim;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* line 640, sass/style.scss */
#hallway-4 #hallway-4-choice-1 {
  width: 20%;
  height: 15%;
  bottom: 4%;
  left: 27%;
}
/* line 647, sass/style.scss */
#hallway-4 #hallway-4-choice-2 {
  width: 10%;
  height: 30%;
  bottom: 7%;
  left: 63%;
}

/* line 655, sass/style.scss */
#cheshire-2-speech-1 {
  bottom: 47%;
  right: -4%;
}
/* line 659, sass/style.scss */
#cheshire-2-speech-1 h3 {
  position: absolute;
  top: 17%;
  left: 13%;
  font-size: 1.5em;
}
/* line 667, sass/style.scss */
#cheshire-2-speech-1 img {
  width: 90%;
  height: auto;
}

/* line 673, sass/style.scss */
#cheshire-3-speech-1 {
  bottom: 9%;
  left: 50%;
  transform: translateX(-50%);
}
/* line 678, sass/style.scss */
#cheshire-3-speech-1 h3 {
  position: absolute;
  top: 21%;
  left: 14%;
  font-size: 2.4em;
  text-align: center;
}
/* line 686, sass/style.scss */
#cheshire-3-speech-1 img {
  width: 100%;
  height: auto;
}

/* line 692, sass/style.scss */
#cheshire-4-speech-1 {
  bottom: 33%;
  left: 20%;
}
/* line 696, sass/style.scss */
#cheshire-4-speech-1 h3 {
  position: absolute;
  width: 100%;
  top: 7%;
  left: -9%;
  font-size: 2.4em;
  text-align: center;
}
/* line 705, sass/style.scss */
#cheshire-4-speech-1 img {
  width: 83%;
}

/* line 710, sass/style.scss */
#cheshire-5-speech-1 {
  bottom: -3%;
  left: 1%;
}
/* line 714, sass/style.scss */
#cheshire-5-speech-1 h3 {
  position: absolute;
  width: 100%;
  top: 31%;
  left: 7%;
  font-size: 2.1em;
  text-align: center;
}
/* line 723, sass/style.scss */
#cheshire-5-speech-1 img {
  width: 110%;
}

/* line 728, sass/style.scss */
#cheshire-6-speech-1 {
  bottom: 56%;
  left: 34%;
}
/* line 732, sass/style.scss */
#cheshire-6-speech-1 h3 {
  position: absolute;
  width: 100%;
  top: 16%;
  left: -2%;
  font-size: 2.4em;
  text-align: center;
}
/* line 741, sass/style.scss */
#cheshire-6-speech-1 img {
  width: 94%;
}

/* line 746, sass/style.scss */
#cheshire-7-speech-1 {
  bottom: 20%;
  left: 14%;
}
/* line 750, sass/style.scss */
#cheshire-7-speech-1 h3 {
  position: absolute;
  width: 100%;
  top: -1%;
  left: -3%;
  font-size: 2.2em;
  text-align: center;
}
/* line 759, sass/style.scss */
#cheshire-7-speech-1 img {
  width: 100%;
}

/* line 764, sass/style.scss */
#cheshire-8-speech-1 {
  bottom: 34%;
  left: 50%;
}
/* line 768, sass/style.scss */
#cheshire-8-speech-1 h3 {
  position: absolute;
  width: 100%;
  top: 11%;
  left: -7%;
  font-size: 2.2em;
  text-align: center;
}
/* line 777, sass/style.scss */
#cheshire-8-speech-1 img {
  width: 85%;
}

/* line 783, sass/style.scss */
#cheshire-9 .speech-bubble-wrapper, #cheshire-9 .choice {
  display: none;
}
/* line 787, sass/style.scss */
#cheshire-9 .shown.speech-bubble-wrapper, #cheshire-9 .shown.shown {
  display: block;
}

/* line 793, sass/style.scss */
#cheshire-9-speech-1 {
  bottom: 30%;
  left: 50%;
}
/* line 797, sass/style.scss */
#cheshire-9-speech-1 h3 {
  position: absolute;
  width: 100%;
  top: 22%;
  left: -19%;
  font-size: 1.7em;
  text-align: center;
}
/* line 806, sass/style.scss */
#cheshire-9-speech-1 img {
  width: 62%;
}

/* line 811, sass/style.scss */
#cheshire-9-speech-2 {
  bottom: 30%;
  left: 37%;
}
/* line 815, sass/style.scss */
#cheshire-9-speech-2 h3 {
  position: absolute;
  width: 100%;
  top: 11%;
  left: -19%;
  font-size: 1.7em;
  text-align: center;
}
/* line 824, sass/style.scss */
#cheshire-9-speech-2 img {
  width: 62%;
}

/* line 829, sass/style.scss */
#cheshire-9-choice-1 {
  display: none;
  top: -2%;
  left: 12%;
}
/* line 834, sass/style.scss */
#cheshire-9-choice-1 h3 {
  position: absolute;
  width: 100%;
  top: 6%;
  left: -2%;
  font-size: 2.6em;
  text-align: center;
}

/* line 844, sass/style.scss */
#cheshire-9-choice-2 {
  display: none;
  top: 24%;
  left: 21%;
}
/* line 849, sass/style.scss */
#cheshire-9-choice-2 h3 {
  position: absolute;
  width: 100%;
  top: 11%;
  left: 15%;
  font-size: 2.6em;
  text-align: center;
}

/* line 859, sass/style.scss */
#cheshire-10-speech-1 {
  bottom: 59%;
  left: 16%;
}
/* line 863, sass/style.scss */
#cheshire-10-speech-1 h3 {
  position: absolute;
  width: 100%;
  top: 14%;
  left: -21%;
  font-size: 1.7em;
  text-align: center;
}
/* line 872, sass/style.scss */
#cheshire-10-speech-1 img {
  width: 62%;
}

/* line 877, sass/style.scss */
#morpheus-1-speech-1 {
  bottom: 34%;
  left: 41%;
}
/* line 881, sass/style.scss */
#morpheus-1-speech-1 h3 {
  position: absolute;
  top: 12%;
  left: 17%;
  font-size: 2.2em;
  text-align: center;
}
/* line 889, sass/style.scss */
#morpheus-1-speech-1 img {
  width: 100%;
  height: auto;
}

/* line 895, sass/style.scss */
#morpheus-2-speech-1 {
  bottom: 18%;
  left: 34%;
}
/* line 899, sass/style.scss */
#morpheus-2-speech-1 h3 {
  position: absolute;
  top: 5%;
  left: 12%;
  font-size: 2em;
  text-align: center;
}
/* line 907, sass/style.scss */
#morpheus-2-speech-1 img {
  width: 93%;
  height: auto;
}

/* line 913, sass/style.scss */
#morpheus-3-speech-1 {
  bottom: 77%;
  left: 17%;
}
/* line 917, sass/style.scss */
#morpheus-3-speech-1 h3 {
  position: absolute;
  top: -12%;
  left: 7%;
  font-size: 2.1em;
  text-align: center;
}
/* line 925, sass/style.scss */
#morpheus-3-speech-1 img {
  width: 100%;
  height: auto;
}

/* line 932, sass/style.scss */
#morpheus-4 h2 {
  display: none;
}
/* line 936, sass/style.scss */
#morpheus-4 .speech-bubble-wrapper {
  display: none;
}
/* line 940, sass/style.scss */
#morpheus-4 h2.shown {
  display: inline;
}
/* line 944, sass/style.scss */
#morpheus-4 .speech-bubble-wrapper.shown {
  display: inline;
}

/* line 948, sass/style.scss */
#morpheus-4-speech-1 {
  bottom: 8%;
  left: 41%;
}
/* line 952, sass/style.scss */
#morpheus-4-speech-1 h3 {
  position: absolute;
  top: -16%;
  left: 15%;
  font-size: 4.5em;
  text-align: center;
}
/* line 960, sass/style.scss */
#morpheus-4-speech-1 img {
  width: 90%;
  height: auto;
}

/* line 966, sass/style.scss */
#morpheus-4-speech-2 {
  bottom: 20%;
  left: 37%;
}
/* line 970, sass/style.scss */
#morpheus-4-speech-2 h3 {
  position: absolute;
  top: -6%;
  left: 16%;
  font-size: 2.2em;
  text-align: center;
}
/* line 978, sass/style.scss */
#morpheus-4-speech-2 img {
  width: 100%;
  height: auto;
}

/* line 984, sass/style.scss */
#morpheus-5-speech-1 {
  bottom: 3%;
  left: -1%;
}
/* line 988, sass/style.scss */
#morpheus-5-speech-1 h3 {
  position: absolute;
  top: 13%;
  left: 6%;
  font-size: 2em;
  text-align: center;
}
/* line 996, sass/style.scss */
#morpheus-5-speech-1 img {
  width: 95%;
  height: auto;
}

/* line 1003, sass/style.scss */
#morpheus-6 .speech-bubble-wrapper {
  display: none;
}

/* line 1009, sass/style.scss */
#morpheus-6-speech-1 {
  bottom: 65%;
  left: 10%;
}
/* line 1013, sass/style.scss */
#morpheus-6-speech-1 h3 {
  position: absolute;
  top: 12%;
  left: 6%;
  font-size: 1.5em;
  text-align: center;
}
/* line 1021, sass/style.scss */
#morpheus-6-speech-1 img {
  width: 88%;
  height: auto;
}

/* line 1027, sass/style.scss */
#morpheus-6-speech-2 {
  bottom: 68%;
  left: 10%;
}
/* line 1031, sass/style.scss */
#morpheus-6-speech-2 h3 {
  position: absolute;
  top: 10%;
  left: 11%;
  font-size: 1.5em;
  text-align: center;
}
/* line 1039, sass/style.scss */
#morpheus-6-speech-2 img {
  width: 80%;
  height: auto;
}

/* line 1045, sass/style.scss */
#morpheus-6 h2 {
  display: none;
}
/* line 1049, sass/style.scss */
#morpheus-6 .speech-bubble-wrapper, #morpheus-6 .choice {
  display: none;
}
/* line 1053, sass/style.scss */
#morpheus-6 h2.shown {
  display: inline;
}
/* line 1057, sass/style.scss */
#morpheus-6 .speech-bubble-wrapper.shown, #morpheus-6 .choice.shown {
  display: inline;
}
/* line 1061, sass/style.scss */
#morpheus-6 #morpheus-6-choice-1 {
  background-color: blue;
  top: 52%;
  left: 14%;
  width: 12%;
  height: 10%;
}
/* line 1069, sass/style.scss */
#morpheus-6 #morpheus-6-choice-2 {
  background-color: red;
  top: 47%;
  right: 15%;
  width: 14%;
  height: 11%;
}

/* line 1079, sass/style.scss */
#queen-2 #area-one {
  top: 11%;
  left: 0%;
  width: 20%;
  height: 80%;
}
/* line 1086, sass/style.scss */
#queen-2 #area-two {
  top: 11%;
  left: 22%;
  width: 54%;
  height: 26%;
}
/* line 1093, sass/style.scss */
#queen-2 #area-three {
  top: 11%;
  right: 0%;
  width: 20%;
  height: 86%;
}

/* line 1101, sass/style.scss */
#morpheus-8-speech-1 {
  bottom: 31%;
  left: 15%;
}
/* line 1105, sass/style.scss */
#morpheus-8-speech-1 h3 {
  position: absolute;
  top: 6%;
  left: 6%;
  font-size: 2.5em;
  text-align: center;
}
/* line 1113, sass/style.scss */
#morpheus-8-speech-1 img {
  width: 80%;
  height: auto;
}

/* line 1120, sass/style.scss */
#queen-9 .choice {
  background-color: white;
  border: 1px solid black;
  padding: 1%;
}
/* line 1126, sass/style.scss */
#queen-9 .choice:hover {
  background-color: black;
  color: white;
}
/* line 1130, sass/style.scss */
#queen-9 #queen-9-choice-1 {
  top: 20%;
  left: 0;
}
/* line 1135, sass/style.scss */
#queen-9 #queen-9-choice-2 {
  top: 20%;
  right: 0;
}

/* line 1142, sass/style.scss */
#queen-12 .choice {
  background-color: white;
  border: 1px solid black;
  padding: 1%;
}
/* line 1148, sass/style.scss */
#queen-12 .choice:hover {
  background-color: black;
  color: white;
}
/* line 1152, sass/style.scss */
#queen-12 #queen-12-choice-1 {
  top: 10%;
  left: 0;
}
/* line 1157, sass/style.scss */
#queen-12 #queen-12-choice-2 {
  top: 10%;
  right: 0;
}

@keyframes shaking {
  0%, 20%, 40%, 60%, 80%, 100% {
    top: 0px;
  }
  10%, 30%, 50%, 70%, 90% {
    top: 90px;
  }
}
/* line 1173, sass/style.scss */
#cheshire-1 {
  animation: shaking 0.3s linear forwards;
}
