body {
  background-color: black;
}

.wonderland-wrapper {
  width: 100%;

  font-family: 'Laila', serif;
}

#wonderland-word {
  display: block;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.panel-wrapper {
  position: relative;
  width: 1000px;
  height: 640px;

  margin: 0 auto 0 auto;

  border-radius: 5px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }

  h2 {
    background-color: grey;
    text-align: center;
    color: white;
    margin: 0 0 0 0;
  }

  display: none;
}

.panel-wrapper:nth-child(even) {
  background-color: blue;
}

.panel-wrapper:nth-child(odd) {
  background-color: yellow;
}

.panel-wrapper.shown {
  display: block;
}

.choice-button {
  position: absolute;

}

.choice-button:hover {
  cursor: pointer;
}

#rabbit-1 {
  #rabit-1-choice-1 {
    width: 20%;
    top: 8%;
    left: 4%;
    
    .wrapper { 
      position: relative;
      img {
        width:100%;
      }

      h3 {
        font-size: 1.5em;
        margin: 0;
        position: absolute;
        top: 25%;
        left: 22%;
      }
    }
  }

  #rabit-1-choice-2 {
    width: 20%;
    top: 6%;
    left: 30%;
    
    .wrapper { 
      position: relative;
      img {
        width:100%;
      }

      h3 {
        font-size: 1.5em;
        margin: 0;
        position: absolute;
        top: 25%;
        left: 22%;
      }
    }
  }

  .choice-button:nth-child(odd) {
    top: 0;
    right: 0;
  }

  .sound {
    color: black;
    font-size: 3em;
    position: absolute;
    bottom: 20%;
    left: -5%;
  }
}
