body {
  background-color: black;
  overflow: hidden;
}



.wonderland-wrapper {
  width: 100%;
  font-family: 'Laila', serif;
  font-weight: 400;
}

#wonderland-word {
  display: block;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.panel-wrapper {
  position: relative;
  width: 1000px;
  height: auto;
  width: calc((100vh - 96px) / 0.68);
  height: calc(100vh - 100px);

  margin: 0 auto 0 auto;

  border-radius: 5px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }

  h2 {
    padding: 1.5%;
    position: absolute;
    width: 98.5%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    color: white;
    margin: 0 0 0 0;

  }

  display: none;
}

.panel-wrapper.shown {
  display: block;
}

.speech-bubble-wrapper {
    display: none;
  }

  .speech-bubble-wrapper.shown {
    display: inline;
  }

.choice {
  position: absolute;
}

.choice:hover {
  cursor: pointer;
}

.speech-bubble-wrapper {
  position: absolute;
}

#rabbit-1 {
  #rabit-1-choice-1 {
    width: 20%;
    top: 8%;
    left: 4%;
    
    .wrapper { 
      position: relative;
      img {
        width:100%;
      }

      h3 {
        font-size: 1.5em;
        margin: 0;
        position: absolute;
        top: 25%;
        left: 22%;
      }
    }
  }

  #rabit-1-choice-2 {
    width: 20%;
    top: 6%;
    left: 30%;
    
    .wrapper { 
      position: relative;
      img {
        width:100%;
      }

      h3 {
        font-size: 1.5em;
        margin: 0;
        position: absolute;
        top: 25%;
        left: 22%;
      }
    }
  }

  .sound {
    color: black;
    font-size: 3em;
    position: absolute;
    bottom: 20%;
    left: -5%;
  }
}

#rabbit-2-speech-1 {
  bottom: 59%;
  left: 56%;

  h3 {
    position: absolute;
    top: 3%;
    left: 18%;
    font-size: 2.3em;
    text-align: center;
  }

  img {
    width: 70%;
    height: auto;
  }
}

#rabbit-3-speech-1 {
  bottom: 10%;
  left: 34%;

  h3 {
    position: absolute;
    top: 9%;
    left: 18%;
    font-size: 2.9em;
    text-align: center;
  }

  img {
    width: 90%;
    height: auto;
  }
}

#rabbit-4-speech-1 {
  bottom: 57%;
  left: 3%;

  h3 {
    position: absolute;
    top: 1%;
    left: 9%;
    font-size: 2.4em;
    text-align: center;
  }

  img {
    width: 90%;
    height: auto;
  }
}

#rabbit-5-speech-1 {
  bottom: 64%;
  left: 12%;

  h3 {
    position: absolute;
    top: 1%;
    left: 19%;
    font-size: 2.3em;
    text-align: center;
  }

  img {
    width: 100%;
    height: auto;
  }
}

#rabbit-7-speech-1 {
  bottom: 31%;
  left: 32%;

  h3 {
    position: absolute;
    top: 1%;
    left: 14%;
    font-size: 4.5em;
    text-align: center;
  }

  img {
    width: 100%;
    height: auto;
  }
}

#rabbit-16 {
  background-image: url('../_images/rabbit/rabbit-falling.png');
  background-size: calc((100vh - 100px) / 0.68) auto;
}

#hallway-5-speech-1 {
  bottom: 33%;
  left: 43%;

  h3 {
    position: absolute;
    top: 1%;
    left: 14%;
    font-size: 2.5em;
    text-align: center;
  }

  img {
    width: 80%;
    height: auto;
  }
}

#hallway-6-speech-1 {
  bottom: 33%;
  left: 41%;

  h3 {
    position: absolute;
    top: 12%;
    left: 1%;
    font-size: 2.5em;
    text-align: center;
  }

  img {
    width: 100%;
    height: auto;
  }
}

#hallway-7-speech-1 {
  bottom: 43%;
  left: 32%;

  h3 {
    position: absolute;
    top: 5%;
    left: 16%;
    font-size: 2.2em;
    text-align: center;
  }

  img {
    width: 100%;
    height: auto;
  }
}

#party-1 {
  .speech-bubble-wrapper {
    display: none;
  }

  h2.shown {
    display: inline;
  }

  .speech-bubble-wrapper.shown {
    display: inline;
  }
}

#party-1-speech-1 {
  bottom: 58%;
  left: 48%;

  h3 {
    position: absolute;
    top: 12%;
    left: 10%;
    font-size: 2.5em;
    text-align: center;
  }

  img {
    width: 100%;
    height: auto;
  }
}

#party-1-speech-2 {
  bottom: 20%;
  left: 47%;

  h3 {
    position: absolute;
    top: 6%;
    left: 17%;
    font-size: 2.3em;
    text-align: center;
  }

  img {
    width: 100%;
    height: auto;
  }
}

#party-2-speech-1 {
  bottom: 27%;
  left: 42%;

  h3 {
    position: absolute;
    top: 0%;
    left: 10%;
    font-size: 2.7em;
    text-align: center;
  }

  img {
    width: 100%;
    height: auto;
  }
}

#party-3-speech-1 {
  bottom: 12%;
  left: 16%;

  h3 {
    position: absolute;
    top: 10%;
    left: 4%;
    font-size: 2em;
    text-align: center;
  }

  img {
    width: 100%;
    height: auto;
  }
}

#party-5 {
  .speech-bubble-wrapper {
    display: none;
  }

  .speech-bubble-wrapper.shown {
    display: inline;
  }
}

#party-5-speech-1 {
  bottom: 51%;
  left: 18%;

  h3 {
    position: absolute;
    top: 0%;
    left: 10%;
    font-size: 2.7em;
    text-align: center;
  }

  img {
    width: 75%;
    height: auto;
  }
}

#party-5-speech-2 {
  bottom: 32%;
  left: 55%;

  h3 {
    position: absolute;
    top: 0%;
    left: 6%;
    font-size: 2.3em;
    text-align: center;
  }

  img {
    width: 100%;
    height: auto;
  }
}

#party-6-speech-1 {
  bottom: 11%;
  left: 8%;

  h3 {
    position: absolute;
    top: 10%;
    left: 4%;
    font-size: 2.2em;
    text-align: center;
  }

  img {
    width: 100%;
    height: auto;
  }
}

#party-7-speech-1 {
  bottom: 2%;
  left: 26%;

  h3 {
    position: absolute;
    top: 19%;
    left: 4%;
    font-size: 2.1em;
    text-align: center;
  }

  img {
    width: 100%;
    height: auto;
  }
}

#party-8-speech-1 {
  bottom: 68%;
  left: 0%;

  h3 {
    position: absolute;
    top: 2%;
    left: 4%;
    font-size: 2.3em;
    text-align: center;
  }

  img {
    width: 100%;
    height: auto;
  }
}

#party-9 {
  .speech-bubble-wrapper {
    display: none;
  }

  .speech-bubble-wrapper.shown {
    display: inline;
  }
}

#party-9-speech-1 {
  bottom: 23%;
  left: 18%;

  h3 {
    position: absolute;
    top: 15%;
    left: 4%;
    font-size: 2.2em;
    text-align: center;
  }

  img {
    width: 75%;
    height: auto;
  }
}

#party-9-speech-2 {
  bottom: 13%;
  left: 55%;

  h3 {
    position: absolute;
    top: 14%;
    left: 6%;
    font-size: 3.5em;
    text-align: center;
  }

  img {
    width: 100%;
    height: auto;
  }
}

#party-11-speech-1 {
  bottom: 27%;
  left: 8%;

  h3 {
    position: absolute;
    top: -6%;
    left: 1%;
    font-size: 2em;
    text-align: center;
  }

  img {
    width: 100%;
    height: auto;
  }
}

#party-13-speech-1 {
  bottom: 57%;
  left: 22%;

  h3 {
    position: absolute;
    top: 8%;
    left: 5%;
    font-size: 2.8em;
    text-align: center;
  }

  img {
    width: 100%;
    height: auto;
  }
}
@keyframes hallway-1-choice-1-arrow-anim {
    from {
      top: 40%;
      left: 46%;
      width: 25%;
    }
    to {
      top: 30%;
      left: 57%;
      width: 17%;
    }
}

@keyframes hallway-1-choice-2-arrow-anim {
    from {
      top: 42%;
      left: 35%;
    }
    to {
      top: 46%;
      left: 38%;
    }
}

@keyframes hallway-1-choice-3-arrow-anim {
    from {
      top: 35%;
      left: 49%;
    }
    to {
      top: 38%;
      left: 52%;
    }
}

@keyframes hallway-1-choice-5-arrow-anim {
    from {
      top: 49%;
      left: 63%;
    }
    to {
      top: 49%;
      left: 59%;
    }
}

#hallway-1 { 
  .hallway-arrow.shown {
    display:block;
  }

  .hallway-arrow {
    pointer-events: none;
    display: none;
  }

  #hallway-1-choice-1-arrow {
    position: absolute;
    top: 22%;
    left: 46%;
    width: 25%;
    height: auto;
    animation-name: hallway-1-choice-1-arrow-anim;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  #hallway-1-choice-2-arrow {
    position: absolute;
    top: 42%;
    left: 37%;
    width: 16%;
    height: auto;
    animation-name: hallway-1-choice-2-arrow-anim;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  #hallway-1-choice-3-arrow {
    position: absolute;
    top: 35%;
    left: 49%;
    width: 10%;
    height: auto;
    animation-name: hallway-1-choice-3-arrow-anim;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  #hallway-1-choice-5-arrow {
    position: absolute;
    top: 49%;
    left: 63%;
    width: 22%;
    height: auto;
    animation-name: hallway-1-choice-5-arrow-anim;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

}

#hallway-4 {
  #hallway-4-choice-1 {
    width: 20%;
    height: 15%;
    bottom: 4%;
    left: 27%;
  }

  #hallway-4-choice-2 {
    width: 10%;
    height: 30%;
    bottom: 7%;
    left: 63%;
  }
}

#cheshire-2-speech-1 {
  bottom: 47%;
  right: -4%;

  h3 {
    position: absolute;
    top: 17%;
    left: 13%;
    font-size: 1.5em;

  }

  img {
    width: 90%;
    height: auto;
  }
}

#cheshire-3-speech-1 {
  bottom: 9%;
  left: 50%;
  transform: translateX(-50%);

  h3 {
    position: absolute;
    top: 21%;
    left:14%;
    font-size: 2.4em;
    text-align: center;
  }

  img {
    width: 100%;
    height: auto;
  }
}

#cheshire-4-speech-1 {
  bottom: 33%;
  left: 20%;

  h3 {
    position: absolute;
    width: 100%;
    top: 7%;
    left:-9%;
    font-size: 2.4em;
    text-align: center;
  }

  img {
    width: 83%;
  }
}

#cheshire-5-speech-1 {
  bottom: -3%;
  left: 1%;

  h3 {
    position: absolute;
    width: 100%;
    top: 31%;
    left:7%;
    font-size: 2.1em;
    text-align: center;
  }

  img {
    width: 110%;
  }
}

#cheshire-6-speech-1 {
  bottom: 56%;
  left: 34%;

  h3 {
    position: absolute;
    width: 100%;
    top: 16%;
    left: -2%;
    font-size: 2.4em;
    text-align: center;
  }

  img {
    width: 94%;
  }
}

#cheshire-7-speech-1 {
  bottom: 20%;
  left: 14%;

  h3 {
    position: absolute;
    width: 100%;
    top: -1%;
    left:-3%;
    font-size: 2.2em;
    text-align: center;
  }

  img {
    width: 100%;
  }
}

#cheshire-8-speech-1 {
  bottom: 34%;
  left: 50%;

  h3 {
    position: absolute;
    width: 100%;
    top: 11%;
    left:-7%;
    font-size: 2.2em;
    text-align: center;
  }

  img {
    width: 85%;
  }
}

#cheshire-9 {
  .speech-bubble-wrapper, .choice {
    display: none;
  }

  .shown.speech-bubble-wrapper, .shown.shown {
  display: block;
  } 
}


#cheshire-9-speech-1 {
  bottom: 30%;
  left: 50%;

  h3 {
    position: absolute;
    width: 100%;
    top: 22%;
    left:-19%;
    font-size: 1.7em;
    text-align: center;
  }

  img {
    width: 62%;
  }
}

#cheshire-9-speech-2 {
  bottom: 30%;
  left: 37%;

  h3 {
    position: absolute;
    width: 100%;
    top: 11%;
    left:-19%;
    font-size: 1.7em;
    text-align: center;
  }

  img {
    width: 62%;
  }
}

#cheshire-9-choice-1 {
  display: none;
  top: -2%;
  left: 12%;

  h3 {
    position: absolute;
    width: 100%;
    top: 6%;
    left:-2%;
    font-size: 2.6em;
    text-align: center;
  }
}

#cheshire-9-choice-2 {
  display: none;
  top: 24%;
  left: 21%;

  h3 {
    position: absolute;
    width: 100%;
    top: 11%;
    left:15%;
    font-size: 2.6em;
    text-align: center;
  }
}

#cheshire-10-speech-1 {
  bottom: 59%;
  left: 16%;

  h3 {
    position: absolute;
    width: 100%;
    top: 14%;
    left:-21%;
    font-size: 1.7em;
    text-align: center;
  }

  img {
    width: 62%;
  }
}

#morpheus-1-speech-1 {
  bottom: 34%;
  left: 41%;

  h3 {
    position: absolute;
    top: 12%;
    left: 17%;
    font-size: 2.2em;
    text-align: center;
  }

  img {
    width: 100%;
    height: auto;
  }
}

#morpheus-2-speech-1 {
  bottom: 18%;
  left: 34%;

  h3 {
    position: absolute;
    top: 5%;
    left: 12%;
    font-size: 2em;
    text-align: center;
  }

  img {
    width: 93%;
    height: auto;
  }
}

#morpheus-3-speech-1 {
  bottom: 77%;
  left: 17%;

  h3 {
    position: absolute;
    top: -12%;
    left: 7%;
    font-size: 2.1em;
    text-align: center;
  }

  img {
    width: 100%;
    height: auto;
  }
}

#morpheus-4 {
  .speech-bubble-wrapper {
    display: none;
  }

  .speech-bubble-wrapper.shown {
    display: inline;
  }
}
#morpheus-4-speech-1 {
  bottom: 8%;
  left: 41%;

  h3 {
    position: absolute;
    top: -16%;
    left: 15%;
    font-size: 4.5em;
    text-align: center;
  }

  img {
    width: 90%;
    height: auto;
  }
}

#morpheus-4-speech-2 {
  bottom: 20%;
  left: 37%;

  h3 {
    position: absolute;
    top: -6%;
    left: 16%;
    font-size: 2.2em;
    text-align: center;
  }

  img {
    width: 100%;
    height: auto;
  }
}

#morpheus-5-speech-1 {
  bottom: 3%;
  left: -1%;

  h3 {
    position: absolute;
    top: 13%;
    left: 6%;
    font-size: 2em;
    text-align: center;
  }

  img {
    width: 95%;
    height: auto;
  }
}

#morpheus-6 {
  .speech-bubble-wrapper {
    display: none;
  }


}
#morpheus-6-speech-1 {
  bottom: 65%;
  left: 10%;

  h3 {
    position: absolute;
    top: 12%;
    left: 6%;
    font-size: 1.5em;
    text-align: center;
  }

  img {
    width: 88%;
    height: auto;
  }
}

#morpheus-6-speech-2 {
  bottom: 68%;
  left: 10%;

  h3 {
    position: absolute;
    top: 10%;
    left: 11%;
    font-size: 1.5em;
    text-align: center;
  }

  img {
    width: 80%;
    height: auto;
  }
}

@keyframes morpheus-6-red-pill-animation {
    from {
      top: -1%;
      left: 0%;
    }
    to {
      top: -2%;
      left: 0%;
    }
}

@keyframes morpheus-6-blue-pill-animation {
    from {
      top: -1%;
      right: 0%;
    }
    to {
      top: -2%;
      right: 0%;
    }
}

#morpheus-6 {
  .speech-bubble-wrapper {
    display: none;
  }

  .speech-bubble-wrapper.shown {
    display: inline;
  }

  #morpheus-6-choice-1 {
    top: 0%;
    left: 0%;
    width: auto;
    height: 100%;
  }

  #morpheus-6-choice-2 {
    top: 0%;
    right: 0%;
    height: 100%;
  }

  #morpheus-6-choice-2 img {
    height: 100%;
    width: auto;
  }

  .enabled#morpheus-6-choice-1:hover {
    animation-name: morpheus-6-red-pill-animation;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .enabled#morpheus-6-choice-2:hover {
    animation-name: morpheus-6-blue-pill-animation;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

#queen-2 {
  #area-one {
    top: 11%;
    left: 0%;
    width: 20%;
    height: 80%;
  }

  #area-two {
    top: 11%;
    left: 22%;
    width: 54%;
    height: 26%;
  }

  #area-three {
    top: 11%;
    right: 0%;
    width: 20%;
    height: 86%;
  }
}

#queen-3 {
  #queen-3-queen-bubble {
    display: none;
    position: absolute;
    top: 78%;
    left: 6%;
    width: 15%;

    &.shown {
      display: block;
    }
  }
}

#morpheus-8-speech-1 {
  bottom: 31%;
  left: 15%;

  h3 {
    position: absolute;
    top: 6%;
    left: 6%;
    font-size: 2.5em;
    text-align: center;
  }

  img {
    width: 80%;
    height: auto;
  }
}

@keyframes battle {
  from {
    -webkit-filter: brightness(1.6);
  }
  to {
    -webkit-filter: brightness(0.2);
  }
}

@keyframes scale-to-fill {
  to {
    transform: scale(1);
  }
}

#queen-4 {
  .pokemon-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(247, 95, 210, 0.8);
    background-image: url('../_images/queen/pokemon-overlay.png');
    background-position: center;
    background-repeat: no-repeat;
    display: none;

    &.battle-start {
      display: block;
    }
  }

  .dark-overlay {
    width: 100%;
    height: 100%;
    transform: scale(0);
    position: absolute;
    background-color: black;
    animation: scale-to-fill 1.4s steps(10, end) forwards;
    display: none;
    z-index: 3;

    &.battle-start {
      display: block;
    }
  }

  &.battle-start {
    animation: battle 0.2s infinite alternate;
  }
}

#queen-9 {
  .choice {
    background-color: white;
    border: 1px solid black;
    padding: 1%;
  }

  .choice:hover {
    background-color: black;
    color: white;
  }
  #queen-9-choice-1 {
    top: 20%;
    left: 0;
  }

  #queen-9-choice-2 {
    top: 20%;
    right: 0;
  }
}

#queen-12 {
  .choice {
    background-color: white;
    border: 1px solid black;
    padding: 1%;
  }

  .choice:hover {
    background-color: black;
    color: white;
  }
  #queen-12-choice-1 {
    top: 10%;
    left: 0;
  }

  #queen-12-choice-2 {
    top: 10%;
    right: 0;
  }
}

@keyframes shaking {
  0%, 20%, 40%, 60%, 80%, 100% {
    top: 0px;
  }

  10%, 30%, 50%, 70%, 90% {
    top: 90px;
  }
}

#cheshire-1 {
  animation: shaking 0.3s linear forwards;
}

.panel-wrapper h2{
  top:-150px;
  transition: 0.8s all;
}

.panel-wrapper:hover h2{
  top: 0;
  transition: 0.8s all;
}