body {
  background-color: black;
  overflow: auto;
}

.wonderland-wrapper {
  width: 100%;

  font-family: 'Laila', serif;
}

#wonderland-word {
  display: block;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.panel-wrapper {
  position: relative;
  width: 1000px;
  height: auto;

  margin: 0 auto 0 auto;

  border-radius: 5px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }

  h2 {
    background-color: grey;
    text-align: center;
    color: white;
    margin: 0 0 0 0;
  }

  display: none;
}

.panel-wrapper.shown {
  display: block;
}

.choice {
  position: absolute;
}

.choice:hover {
  cursor: pointer;
}

#rabbit-1 {
  #rabit-1-choice-1 {
    width: 20%;
    top: 8%;
    left: 4%;
    
    .wrapper { 
      position: relative;
      img {
        width:100%;
      }

      h3 {
        font-size: 1.5em;
        margin: 0;
        position: absolute;
        top: 25%;
        left: 22%;
      }
    }
  }

  #rabit-1-choice-2 {
    width: 20%;
    top: 6%;
    left: 30%;
    
    .wrapper { 
      position: relative;
      img {
        width:100%;
      }

      h3 {
        font-size: 1.5em;
        margin: 0;
        position: absolute;
        top: 25%;
        left: 22%;
      }
    }
  }

  .sound {
    color: black;
    font-size: 3em;
    position: absolute;
    bottom: 20%;
    left: -5%;
  }
}

#rabbit-16 {
  background-image: url('../_images/rabbit/rabbit-falling.png');
  background-size: 1000px auto;
}

#hallway-1 {
  #hallway-1-choice-1 {
    height: 50%;
    width: 18%;
    left: 20%;
    top: 25%;
    cursor: url('../_images/hallway/hallway-1-choice-1.ico'), default;
  }

  #hallway-1-choice-2 {
    height: 35%;
    width: 10%;
    left: 43%;
    top: 26%;

    cursor: url('../_images/hallway/hallway-1-choice-2.ico'), default;
  }

  #hallway-1-choice-3 {
    height: 21%;
    width: 6%;
    left: 56%;
    top: 30%;
    cursor: url('../_images/hallway/hallway-1-choice-3.ico'), default;
  }

 #hallway-1-choice-4 {
    height: 60%;
    width: 5%;
    left: 58%;
    bottom: 0%;
    cursor: url('../_images/hallway/hallway-1-choice-4.ico'), default;
    transform: rotate(35deg);
  }

  #hallway-1-choice-1:hover {
    color: white;
  }
}

#hallway-4 {
  #hallway-4-choice-1 {
    width: 20%;
    height: 15%;
    bottom: 4%;
    left: 27%;
  }

  #hallway-4-choice-2 {
    width: 10%;
    height: 30%;
    bottom: 7%;
    left: 63%;
  }
}

#morpheus-6 {
  // .choice {
  //   background-color: white;
  //   border: 1px solid black;
  //   padding: 1%;
  // }

  // .choice:hover {
  //   background-color: black;
  //   color: white;
  // }
  #morpheus-6-choice-1 {
    top: 60%;
    left: 13%;
    width: 10%;
    height: 6%;
  }

  #morpheus-6-choice-2 {
    top: 56%;
    right: 16%;
    width: 10%;
    height: 6%;  
  }
}

#cheshire-9 {
  .choice {
    background-color: white;
    border: 1px solid black;
    padding: 1%;
  }

  .choice:hover {
    background-color: black;
    color: white;
  }
  #cheshire-9-choice-1 {
    top: 20%;
    left: 0;
  }

  #cheshire-9-choice-2 {
    top: 20%;
    right: 0;
  }
}

#queen-2 {
  #area-one {
    top: 11%;
    left: 0%;
    width: 20%;
    height: 80%;
  }

  #area-two {
    top: 11%;
    left: 22%;
    width: 54%;
    height: 26%;
  }

  #area-three {
    top: 11%;
    right: 0%;
    width: 20%;
    height: 86%;
  }
}

#queen-9 {
  .choice {
    background-color: white;
    border: 1px solid black;
    padding: 1%;
  }

  .choice:hover {
    background-color: black;
    color: white;
  }
  #queen-9-choice-1 {
    top: 20%;
    left: 0;
  }

  #queen-9-choice-2 {
    top: 20%;
    right: 0;
  }
}

#queen-12 {
  .choice {
    background-color: white;
    border: 1px solid black;
    padding: 1%;
  }

  .choice:hover {
    background-color: black;
    color: white;
  }
  #queen-12-choice-1 {
    top: 10%;
    left: 0;
  }

  #queen-12-choice-2 {
    top: 10%;
    right: 0;
  }
}

@keyframes shaking {
  0%, 20%, 40%, 60%, 80%, 100% {
    top: 0px;
  }

  10%, 30%, 50%, 70%, 90% {
    top: 90px;
  }
}

#cheshire-1 {
  animation: shaking 0.3s linear forwards;
}