body {
  background-color: black;
}

.wonderland-wrapper {
  width: 100%;

  font-family: 'Laila', serif;
}

#wonderland-word {
  display: block;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.panel-wrapper {
  position: relative;
  width: 1000px;
  height: auto;

  margin: 0 auto 0 auto;

  border-radius: 5px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }

  h2 {
    background-color: grey;
    text-align: center;
    color: white;
    margin: 0 0 0 0;
  }

  display: none;
}

.panel-wrapper:nth-child(even) {
  background-color: blue;
}

.panel-wrapper:nth-child(odd) {
  background-color: yellow;
}

.panel-wrapper.shown {
  display: block;
}

.choice-button {
  position: absolute;

}

.choice-button:hover {
  cursor: pointer;
}

#rabbit-1 {
  #rabit-1-choice-1 {
    width: 20%;
    top: 8%;
    left: 4%;
    
    .wrapper { 
      position: relative;
      img {
        width:100%;
      }

      h3 {
        font-size: 1.5em;
        margin: 0;
        position: absolute;
        top: 25%;
        left: 22%;
      }
    }
  }

  #rabit-1-choice-2 {
    width: 20%;
    top: 6%;
    left: 30%;
    
    .wrapper { 
      position: relative;
      img {
        width:100%;
      }

      h3 {
        font-size: 1.5em;
        margin: 0;
        position: absolute;
        top: 25%;
        left: 22%;
      }
    }
  }

  .sound {
    color: black;
    font-size: 3em;
    position: absolute;
    bottom: 20%;
    left: -5%;
  }
}

#hallway-1 {
  .choice-hover {
    position: absolute;
  }

  #hallway-1-choice-1 {
    height: 50%;
    width: 18%;
    left: 20%;
    top: 25%;
    cursor: url('../_images/hallway/hallway-1-choice-1.ico'), default;
  }

  #hallway-1-choice-2 {
    height: 35%;
    width: 10%;
    left: 43%;
    top: 26%;

    cursor: url('../_images/hallway/hallway-1-choice-2.ico'), default;
  }

  #hallway-1-choice-3 {
    height: 21%;
    width: 6%;
    left: 56%;
    top: 30%;
    cursor: url('../_images/hallway/hallway-1-choice-3.ico'), default;
  }

 #hallway-1-choice-4 {
    height: 60%;
    width: 5%;
    left: 58%;
    bottom: 0%;
    cursor: url('../_images/hallway/hallway-1-choice-4.ico'), default;
    transform: rotate(35deg);
  }

  #hallway-1-choice-1:hover {
    color: white;
  }
}
